
body{background-color: #ffdfdf ;
	color: #233567}
#photo{margin: 5px auto; width: 300px; border-radius: 45%}
h1 {color: #3c4245
font-family: Arial;
font-size: 60px;text-align: center;}

h2{color: #315b96 }
h2 {font-weight: #272121;text-align: center;}
h2:hover{color: #fbc1bc }

p {font-family: 'Mansalva', cursive; color: #5f6769;
     text-align: center;}

a{text-decoration: none;transition:  color 0.3s ease}
a:hover{font-size: 100px; color:#fbc1bc;}


.whole{width:1400px; margin: 100px auto; background: #ffdfdf }
.second{ width:1200px; border-top: 2px solid #fbc1bc ; border-left: 3px solid #fbc1bc; border-right: 2px solid #fbc1bc; border-bottom: 2px solid #fbc1bc; border-radius: 15px; margin: 100px auto
; padding: 10px; box-shadow: 10px 10px 10px #fbc1bc}
p{margin:40px auto;}
#contact ul{width: 1000px; height: 100px; list-style: none;padding-left: 0px; text-align: center; margin: 0px auto}

#contact ul li{display: inline-block; padding: 0px 20px; align-items: center; font-size: 100px;}


@media(max-width: 960px) {
  .whole {
    width: 800px;
  }
  .second{ width:700px}
}

@media(max-width: 540px) {
  .whole {
    width: 500px;
  }
  .second{ width:450px}
}
